* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bog-color: #fb8d04;
  --text-color: white;
  --upper-nav-color: rgba(255, 255, 255, 0.78);
}

@font-face {
  font-family: myFont;
  src: url("./src/fonts/BOG-Regular.woff2");
}

body {
  background-color: #091a2b;
  width: 100%;
}
.container {
  width: 1296px;
  margin: auto;
  background-color: grey;
}

.top-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upper-nav-part-first {
  display: flex;
}

.upper-nav-part-sec {
  display: flex;
  align-items: center;
}

.upper-nav-ul {
  display: flex;
  align-items: center;
}

.main-logo {
  margin: 20px 40px 20px 0;
}

#solo-nav-tab {
  color: var(--bog-color);
}

.upper-nav-ul > li {
  margin-right: 30px;
  list-style: none;
  text-decoration: none;
}

.upper-nav-ul > li > a {
  text-decoration: none;
  color: var(--upper-nav-color);
  font-family: myFont;

  /* temp */
}

.icon-container {
  cursor: pointer;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-grow: 1; */
  /* padding: var(--padding); */
  color: inherit;
  text-decoration: none;
  margin: 0px 10px;
  color: var(--upper-nav-color);
  /* temp */
}

.ibank-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
  cursor: pointer;
  font-size: small;
}

.ibank-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bog-color);
  padding: 8px;
  border-radius: 100%;
  width: 41px;
  height: 41px;
  margin-right: 5px;
}

.ibank-wrapper > a {
  text-decoration: none;
  color: var(--bog-color);
}

.lang-change {
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--upper-nav-color);
  margin: 0 20px;
  font-family: myFont;
}

.become-solo {
  cursor: pointer;
  background-color: var(--bog-color);
  width: 110px;
  height: 32px;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: myFont;
}

/* Media */
/* @media (max-width: 1296px) */
