* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bog-color: #fb8d04;
  --text-color: white;
  --upper-nav-color: rgba(255, 255, 255, 0.78);
  --main-font-size: 14px;
  --light-blue: #2b3a48;
  --icon-back-color: rgba(255, 255, 255, 0.03);
  --main-content-border: #1c2b3b;
  --text-dark-color: #8b8b8b;
}

@font-face {
  font-family: myFont;
  src: url("./src/fonts/BOG-Regular.woff2");
}

@font-face {
  font-family: becomeSolo;
  src: url("./src/fonts/MarkGEOCAPS-SemiBold.woff2");
}

@font-face {
  font-family: mainHeading;
  src: url("./src/fonts/BOG-Headline-Bold.woff2");
}

@font-face {
  font-family: shoutHeading;
  src: url("./src/fonts/MarkGEO-Medium.woff2");
}

@font-face {
  font-family: filters;
  src: url("./src/fonts/MarkGEO-Medium.woff2");
}

@font-face {
  font-family: resultHeading;
  src: url("./src/fonts/BOG-Regular.woff2");
}

@font-face {
  font-family: resultDescr;
  src: url("./src/fonts/MarkGEO-SemiBold.woff2");
}

body {
  background-color: #091a2b;
}

.container {
  width: 1296px;
  margin: auto;
}

/** upper header navigation **/

.top-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upper-nav-part-first {
  display: flex;
}

.upper-nav-part-second {
  display: flex;
  align-items: center;
}

.nav-icons-splitter {
  display: flex;
}

.upper-nav-ul {
  display: flex;
  align-items: center;
}

.main-logo {
  margin: 18px 33px 18px 0;
  cursor: pointer;
}

#solo-nav-tab {
  color: var(--bog-color);
}

.upper-nav-ul > li {
  font-size: var(--main-font-size);
  margin: 0 12px;
  list-style: none;
  text-decoration: none;
}

.upper-nav-ul > li > a {
  text-decoration: none;
  color: var(--upper-nav-color);
  font-family: myFont;
}

.icon-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--upper-nav-color);
}

.icon-arrow-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0px 12px;
  color: var(--upper-nav-color);
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 35px;
  height: 35px;
}

.icon-wrapper:hover {
  background-color: var(--icon-back-color);
}

.ibank-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 50px;
  cursor: pointer;
}

.ibank-wrapper:hover {
  background-color: var(--icon-back-color);
  border-radius: 20px;
}

.ibank-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bog-color);
  border-radius: 100%;
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.ibank-wrapper > a {
  text-decoration: none;
  color: var(--bog-color);
  font-family: myFont;
  font-size: 12px;
}

.lang-btn-wrapper {
  padding: 7px;
  border-radius: 7px;
  margin-right: 10px;
}

.lang-btn-wrapper:hover {
  background-color: var(--icon-back-color);
}

.lang-change {
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--upper-nav-color);
  font-family: myFont;
}

.become-solo {
  cursor: pointer;
  background-color: var(--bog-color);
  width: 120px;
  height: 32px;
  color: var(--upper-nav-color);
  border: none;
  outline: none;
  border-radius: 2px;
  font-family: becomeSolo;
  margin-left: 12px;
  font-size: 12px;
}

/** lower header navigation **/

.lower-nav-bar {
  background-color: var(--light-blue);
  height: 58px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.lower-nav-ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.lower-nav-ul > li {
  margin-right: 35px;
}

.lower-nav-ul > li > a {
  font-family: myFont;
  font-size: var(--main-font-size);
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.lower-nav-ul > li > :hover {
  color: var(--text-color);
  font-weight: 600;
}

/** shout **/

.main-heading {
  font-family: mainHeading;
  color: var(--text-color);
  font-size: 36px;
  margin: 65px 0 35px 0;
}

.shout {
  display: flex;
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url("./src/imgs/a3dd4512-dc72-45cd-b93c-b96a8b050eb2.png");
  border-radius: 12px;
  background-position: center center;
  background-size: cover;
}

.heading-learn-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  z-index: 1;
}

.shout-heading {
  font-family: shoutHeading;
  color: var(--text-color);
  margin-bottom: 35px;
}

.learn-more {
  cursor: pointer;
  background-color: var(--bog-color);
  width: 120px;
  height: 32px;
  color: var(--upper-nav-color);
  border: none;
  outline: none;
  border-radius: 2px;
  font-family: becomeSolo;
  font-size: 12px;
}

.shout-overlay {
  position: absolute;
  inset: 0px;
  opacity: 1;
  background-image: linear-gradient(to bottom, rgba(43, 25, 25, 0.3), #2b1919);
  border-radius: 12px;
}

/** main content filter section **/

.search-content {
  display: flex;
  justify-content: space-between;
  margin: 65px 0 35px 0;
}

.search-filter {
  display: flex;
}

.filter-heading {
  font-family: shoutHeading;
  color: var(--text-color);
}

.search-field {
  position: relative;
}

.search-input {
  outline: none;
  border: none;
  background-color: var(--main-content-border);
  caret-color: var(--bog-color);
  height: 40px;
  width: 200px;
  padding-left: 20px;
  border-radius: 20px;
  font-family: myFont;
  color: var(--text-dark-color);
}

#price-sort {
  margin-left: 35px;
  outline: none;
  width: 200px;
  height: 40px;
  border-radius: 2px;
  border: solid 1px #2b3948;
  color: var(--text-color);
  cursor: pointer;
  background-color: transparent;
  padding: 0 10px;
  font-family: myFont;
}

.price-filter-form,
.city-filter-form,
.building-filter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.city-filter-checkbox,
.building-cond-checkbox,
.price-filter-radio {
  display: flex;
  align-items: center;
  color: var(--upper-nav-color);
  font-size: 12px;
  margin: 11.5px 0;
}

.price-filter-radio {
  color: var(--text-dark-color);
}

.city-filter-heading,
.building-cond-heading,
.price-filter-heading {
  margin-bottom: 20px;
}

#city-filter-heading-wrapper,
#price-filter-heading-wrapper,
#build-cond-heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.arrow-up,
.arrow-down {
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.arrow-down {
  background-image: url("./src/imgs/chevron-down.svg");
}

.arrow-up {
  background-image: url("./src/imgs/chevron-up.svg");
}

.hidden {
  display: none;
}

.city-label,
.building-cond-label,
.price-label {
  margin-left: 10px;
  cursor: pointer;
}

.mark {
  cursor: pointer;
}

/** main content **/

.main-content {
  display: flex;
  justify-content: space-between;
}

.filter-container {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.price-filter {
  margin: 20px 0;
}

input[type="checkbox"]:after {
  width: 11px;
  height: 10px;
  top: -1.8px;
  left: -2.4px;
  border-radius: 5px;
  position: relative;
  content: "";
  display: inline-block;
  visibility: visible;
  background-color: var(--light-blue);
  border: 3px solid var(--text-dark-color);
}

input[type="checkbox"]:checked:after {
  width: 12px;
  height: 12px;
  border-radius: 7px;
  top: -3.8px;
  left: -3.5px;
  position: relative;
  content: "";
  display: inline-block;
  visibility: visible;
  background-color: var(--bog-color);
  border: 4px solid var(--light-blue);
}

input[type="radio"]:after {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  top: -3px;
  left: -3px;
  position: relative;
  content: "";
  display: inline-block;
  visibility: visible;
  background-color: var(--light-blue);
  border: 3px solid var(--text-dark-color);
}

input[type="radio"]:checked:after {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  top: -4px;
  left: -4px;
  position: relative;
  content: "";
  display: inline-block;
  visibility: visible;
  background-color: var(--light-blue);
  border: 4px solid var(--bog-color);
}

.city-filter,
.price-filter,
.building-cond-filter {
  width: 260px;
  padding: 24px;
  font-size: 13px;
  border: 1px solid rgba(255, 255, 255, 0.66);
  border-radius: 12px;
  color: var(--text-dark-color);
  font-family: filters;
  background-color: rgba(255, 255, 255, 0.05);
}

.result-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  border-radius: 4px;
  border: 1px solid var(--main-content-border);
  cursor: pointer;
  transition: 0.2s;
}

.result-item-wrapper:hover {
  background-color: var(--icon-back-color);
}

.result-data-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 32px;
  color: var(--text-color);
}

.offer-heading {
  margin: 15px 0 12px 0;
  font-family: resultHeading;
  font-weight: normal;
  font-size: 14px;
}

.result-img-wrapper {
  height: 100%;
}

.result-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.offer-description {
  font-family: resultDescr;
  width: 262.86px;
  font-weight: 16px;
}

.offer-location {
  color: var(--text-dark-color);
  font-family: myFont;
  font-size: 14px;
  margin-bottom: 35px;
}

.result-learn-more > a {
  text-decoration: none;
  font-size: 14px;
  color: var(--bog-color);
  font-family: filters;
}

.result-learn-more > a:hover {
  color: #fcb154;
}

.main-content-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.noItems {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: absolute;
  top: 730px;
  right: 430px;
  margin-top: 48px;
}
.noItems img {
  max-width: 88px;
}
.empty-data-heading,
.empty-data-body {
  margin-top: 16px;
  max-width: 420px;
  text-align: center;
  color: #3d3d3d;
}

.empty-data-heading {
  font-family: shoutHeading;
  font-size: 24px;
}

.empty-data-body {
  font-family: shoutHeading;
  font-weight: normal;
  font-size: 14px;
}

/** footer **/

.footer-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid var(--light-blue);
  padding-top: 25px;
  margin: 100px 0 50px 0;
}

.footer-logo {
  margin-left: 73px;
}

.footer-lang {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 32px;
  margin-right: 73px;
  border: none;
  border-radius: 2px;
  background-color: var(--icon-back-color);
  cursor: pointer;
}

.footer-copyright {
  color: var(--text-color);
  font-family: shoutHeading;
  font-size: 14px;
}

.class-1 {
  fill: #fff;
}

.class-2,
.class-3 {
  fill: red;
}

.footer-lang-txt {
  padding-right: var(--space-16);
  font-family: shoutHeading;
  font-size: 12px;
  margin: 0 5px;
  color: var(--text-color);
}

/* Media Query */

@media screen and (max-width: 1296px) {
  .container {
    width: 90%;
  }
  .top-header-wrapper {
    align-items: flex-start;
  }
  .upper-nav-part-second {
    flex-direction: column;
    align-items: flex-end;
  }
  .nav-icons-splitter {
    margin: 17px 0;
  }
  .become-solo {
    width: 100%;
  }
  .lower-nav-bar,
  .upper-nav-ul,
  .lang-change {
    display: none;
  }
  .result-data-container {
    display: flex;
    flex-direction: column;
  }
  .filter-container,
  .noItems {
    display: none;
  }
  .result-item-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .result-lower-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .search-content {
    flex-direction: column-reverse;
    align-items: center;
    /*  */
  }
  .main-content {
    justify-content: center;
  }
  .search-filter {
    margin-bottom: 20px;
  }
  .result-img {
    width: 200px;
  }
  .offer-description {
    width: 100%;
    margin-right: 20px;
  }
  .footer-section {
    flex-wrap: wrap;
  }
  .footer-lang,
  .footer-logo {
    margin: 0;
  }
}
