* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bog-color: #fb8d04;
  --text-color: white;
  --upper-nav-color: rgba(255, 255, 255, 0.78);
  --main-font-size: 14px;
  --light-blue: #2b3a48;
}

@font-face {
  font-family: myFont;
  src: url("./src/fonts/BOG-Regular.woff2");
}

@font-face {
  font-family: becomeSolo;
  src: url("./src/fonts/MarkGEOCAPS-Regular.woff2");
}

@font-face {
  font-family: mainHeading;
  src: url("./src/fonts/BOG-Headline-UltraBold.woff2");
}

@font-face {
  font-family: shoutHeading;
  src: url("./src/fonts/MarkGEO-Medium.woff2");
}

/* @font-face {
  font-family: filterHeading;
  src: url("./src/fonts/MarkGEO-Medium.woff2");
} */
/* /src/fonts/MarkGEO-Medium.woff2 */

body {
  background-color: #091a2b;
  width: 100%;
  height: 100%;
}
.container {
  width: 1296px;
  margin: auto;
}

/** upper header navigation **/

.top-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upper-nav-part-first {
  display: flex;
}

.upper-nav-part-sec {
  display: flex;
  align-items: center;
}

.upper-nav-ul {
  display: flex;
  align-items: center;
}

.main-logo {
  margin: 18px 33px 18px 0;
  cursor: pointer;
}

#solo-nav-tab {
  color: var(--bog-color);
}

.upper-nav-ul > li {
  font-size: var(--main-font-size);
  margin: 0 13px;
  list-style: none;
  text-decoration: none;
}

.upper-nav-ul > li > a {
  text-decoration: none;
  color: var(--upper-nav-color);
  font-family: myFont;
}

.icon-container {
  cursor: pointer;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-grow: 1; */
  /* padding: var(--padding); */
  color: inherit;
  text-decoration: none;
  margin: 0px 12px;
  color: var(--upper-nav-color);
  /* temp */
}

.ibank-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 50px;
  cursor: pointer;
}

.ibank-wrapper:hover {
  background-color: var(--light-blue);
  border-radius: 20px;
}

.ibank-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bog-color);
  border-radius: 100%;
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.ibank-wrapper > a {
  text-decoration: none;
  color: var(--bog-color);
  font-family: myFont;
  font-size: 12px;
}

.lang-change {
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--upper-nav-color);
  margin: 0 20px;
  font-family: myFont;
}

.become-solo {
  cursor: pointer;
  background-color: var(--bog-color);
  width: 120px;
  height: 32px;
  color: white;
  border: none;
  outline: none;
  border-radius: 2px;
  font-family: becomeSolo;
  margin-left: 12px;
  font-size: 12px;
}

/** lower navigation **/
.lower-nav-bar {
  background-color: var(--light-blue);
  height: 58px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.lower-nav-ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.lower-nav-ul > li {
  margin-right: 35px;
}

.lower-nav-ul > li > a {
  font-family: myFont;
  font-size: var(--main-font-size);
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.lower-nav-ul > li:hover {
  color: white;
}

/** shout **/

.main-heading {
  font-family: mainHeading;
  color: var(--text-color);
  font-size: 36px;
  margin: 65px 0 35px 0;
}

.shout {
  display: flex;
  /* overflow: hidden; */
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url("./src/imgs/a3dd4512-dc72-45cd-b93c-b96a8b050eb2.png");
  border-radius: 12px;
  background-position: center center;
  background-size: cover;
}

.heading-learn-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  z-index: 1;
}

.shout-heading {
  font-family: shoutHeading;
  color: var(--text-color);
  margin-bottom: 35px;
}

.learn-more {
  cursor: pointer;
  background-color: var(--bog-color);
  width: 120px;
  height: 32px;
  color: white;
  border: none;
  outline: none;
  border-radius: 2px;
  font-family: becomeSolo;
  font-size: 12px;
}

.shout-overlay {
  position: absolute;
  inset: 0px;
  opacity: 1;
  background-image: linear-gradient(to bottom, rgba(43, 25, 25, 0.3), #2b1919);
}

/** main content filter section **/
.search-content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.search-filter {
  display: flex;
}
.filter-heading {
  font-family: shoutHeading;
  color: var(--text-color);
}

.search-field {
  position: relative;
}

.search-input {
  outline: none;
  border: none;
  background-color: #1c2b3b;
  caret-color: var(--bog-color);
  height: 40px;
  width: 200px;
  padding-left: 20px;
  border-radius: 20px;
}

#price-sort {
  margin-left: 35px;
  outline: none;
  width: 200px;
  height: 40px;
  border-radius: 2px;
  border: solid 1px #2b3948;
  color: var(--text-color);
  cursor: pointer;
  background-color: transparent;
  padding: 0 10px;
  font-family: myFont;
}

/** main content **/

/* Media */
/* @media (max-width: 1296px) */
